@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-display: "Poppins", sans-serif;
}

::-webkit-scrollbar-track {
  background-color: theme(--color-gray-200);
}

::-webkit-scrollbar-thumb {
  background-color: theme(--color-blue-500);
  border-radius: 8px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.loader {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 6px solid #d1d5db;
  border-top: 6px solid #3b82f6;
  animation: spin 1s linear infinite;
  box-shadow: 0 0 10px rgba(59, 130, 246, 0.5);
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.2);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
